.booleaner {
    height: 120px;
    color: white;
    background-color: cornflowerblue;
    background-image: url('../img/pattern.png');
    background-repeat: contain;
}

.logo {
    width: 250px;
    padding-top: 40px;
}
.titolo {
    font-size: 57px;
    margin-top: 1%;
    margin-bottom: 0px;
}

.font-size-20 {
    font-size: 20px;
}

.blue-violet {
    color: blueviolet;
}

.text-gray {
    color: gray;
}

.Tim1 {
    width: 50%;
    margin-left: 0cap;
}
.Tim2 {
    width: 43%;
}

.table-head {
    background-color: rgb(0, 166, 255);
    color: white;
}

.highlight {
    background-color: yellow;
}

.bg-lightblue {
    background-color: lightblue;
}
.monitor {
    background-image: url(../img/monitor.jpg);
    height: 180px;
    width: 220px;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.grafico {
    background-image: url(../img/graph.jpg);
    height: 180px;
    width: 220px;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}